html,body {
height:100%;
}

#background {
height:100%;
width: 100%;
position: fixed; 
top: 0px;
left:0px;
background-image: url("http://www.bigfoto.com/themes/nature/forest/autumn-tree-90i1.jpg");
background-size: cover;
-webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  z-index: -1;

}

.jumbotron {
    opacity: 0.91;
}


article {
    color: rgb(37, 55, 100);
    font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
    font-size: medium;
    background-color: rgb(255, 255, 255);
    margin: 10em;
    padding: 2em;
    width: 10px;
    border-radius: 30px;   
    border-color: rgb(37, 55, 100);
    border-width: thick;
    border-style: solid;
    
   
}



article p {
    word-wrap: break-word;
    width:650px;
}
